/* 

@font-face {
    font-family: 'Apercu Light';
    src: url('../fonts/Apercu Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'Apercu Light Italic';
    src: url('../fonts/Apercu Light Italic.otf') format('truetype');
  }
  @font-face {
    font-family: 'Apercu Regular';
    src: url('../fonts/Apercu Regular.otf') format('truetype');
  }
  @font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu Mono.otf') format('truetype');
  }
  @font-face {
    font-family: 'Apercu Medium';
    src: url('../fonts/Apercu Medium.otf') format('truetype');
  }
  @font-face {
    font-family: 'Apercu Bold';
    src: url('../fonts/Apercu Bold.otf') format('truetype');
  } */

*,
:before,
:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Apercu Light';
  background-color: #0f0906;
  font-size: 20px;
  color: #feffcd;
}

img {
  max-width: 100%;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 30px;
  /* line-height: 24px; */
  padding-bottom: 15px;
}

a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  background-color: transparent;
  color: #feffcd;
}

.row {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  /* display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between; */
}

.row2 {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

input {
  background-color: #fff;
  border: none;
  height: 45px;
  width: 100%;
  font-family: 'Apercu Light';
  font-size: 20px;
  color: #C8C8C8;
  margin-bottom: 20px;
  padding-left: 10px;
}

textarea {
  background-color: #fff;
  border: none;
  height: 90px;
  width: 100%;
  font-family: 'Apercu Light';
  font-size: 20px;
  color: #C8C8C8;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.button {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  width: 200px;
  height: 100px;
  margin: auto;
  text-align: center;
  align-items: center;
  background-color: #a3653c;
  opacity: 0.9;
  cursor: pointer;
  border: 4px #a3653c solid;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  transition: all 0.5s;
}

.button:last-child {
  margin-right: 0px;
}

/* .button svg.svg-buttons path{
    stroke: #007FFF;
    fill: transparent;
    transition: all 0.5s;
  } */
/* .button:hover{
    color: #fff;
  } */
/* .button:hover svg.svg-buttons path{
      stroke:#007FFF !important;
      fill: #007FFF;
  }
  .button-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  } */
h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 45px;
  font-weight: normal;
  /* line-height: 54px; */
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: normal;
  /* line-height: 36px; */
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

/* .blue-bg{
    background-color: #007FFF;
  }
  .dark-blue-bg{
    background-color: #080C44;
  }
  .light-blue-bg{
    background-color: #B9E2F2;
  }
  .gray-bg{
    background-color: #E3E3E3;
  }
  .#a3653c-bg{
    background-color: #fff;
  } */
.col {
  width: 100%;
  padding: 0 0px;
}



/*  GRID OF TWELVE   ============================================================================= */
@media only screen and (max-width:769px) {


  * {
    background-color: #ddceb0;
    margin: 0px;
  }

  body {
    background-color: #ddceb0;
  }

  p {
    color: #000000;
    font-size: 18px;
  }

  .desktop-nav {
    display: none;
  }

  .col-1 {
    max-width: 8.333333%;
  }

  .col-2 {
    max-width: 16.666667%;
  }

  .col-3 {
    max-width: 25%;
  }

  .col-4 {
    max-width: 33.333333%;
  }

  .col-5 {
    max-width: 41.666667%;
  }

  .col-6 {
    max-width: 50%;
  }

  .col-7 {
    max-width: 58.333333%;
  }

  .col-8 {
    max-width: 66.666667%;
  }

  .col-9 {
    max-width: 75%;
  }

  .col-10 {
    max-width: 83.333333%;
  }

  .col-11 {
    max-width: 91.666667%;
    margin: auto;
  }

  .col-12 {
    max-width: 100%;
  }
}
